---
import FAQ from 'src/components/FAQ';
import Footer from 'src/components/Footer.astro';
import LogoWall from 'src/components/LogoWall.astro';
import Navbar from 'src/components/Navbar.astro';
import GraphParticles from '../components/GraphParticles.astro';
import Layout from '../layouts/Layout.astro';
import Solutions from 'src/components/Solutions.astro';
---

<script>
  import { createPopup } from '@typeform/embed';
  import '@typeform/embed/build/css/popup.css';

  const toggle = createPopup('vVVVtoyJ');
  document.getElementById('typeform')?.addEventListener('click', () => {
    toggle.open();
  });
</script>

<Layout title="Open Federation Initiative">
  <main class="min-h-screen flex flex-col items-start">
    <Navbar />

    <section class="w-full py-24 px-4 md:px-8 lg:px-12 mx-auto max-w-screen-2xl">
      <h1 class="text-5xl md:text-7xl xl:text-9xl max-w-2xl xl:max-w-4xl">Open Federation Initiative</h1>
      <p class="text-lg md:text-2xl font-light mt-8 max-w-6xl">
        Open Federation is a community-driven open source initiative to create and maintain a specification for
        federated GraphQL APIs. Be part of the future; let's craft together.
      </p>
      <div class="flex flex-col md:flex-row w-full items-center gap-4 mt-8">
        <a
          target="_blank"
          href="https://spec.open-federation.org/"
          class="bg-black hover:opacity-80 px-6 py-3 text-center text-white transition-colors w-full md:w-max"
          >Open Spec</a
        >
        <button id="typeform" class="text-black px-6 py-3 border hover:bg-gray-100 transition-colors w-full md:w-max"
          >Subscribe for Updates</button
        >
      </div>
    </section>

    <LogoWall />

    <section
      id="solutions"
      class="xl:grid grid-cols-5 py-24 w-full space-y-4 px-4 md:px-8 lg:px-12 mx-auto max-w-screen-2xl"
    >
      <div class="col-span-2 mb-12">
        <h2 class="text-2xl md:text-4xl xl:text-6xl max-w-2xl xl:max-w-4xl !leading-tight">Solutions</h2>
        <h3 class="xl:max-w-md mt-4">
          Got your own open federation compatible product? Add it <a
            href="https://github.com/graphql-openfederation/website#solutions"
            target="_blank"
            class="text-purple-700">here.</a
          >
        </h3>
      </div>
      <div class="col-span-3 flex flex-col md:grid grid-cols-2 gap-8">
        <Solutions />
      </div>
    </section>

    <section
      id="faq"
      class="xl:grid grid-cols-5 pb-24 lg:py-24 w-full space-y-4 px-4 md:px-8 lg:px-12 mx-auto max-w-screen-2xl"
    >
      <div class="col-span-2">
        <h2 class="text-2xl md:text-4xl xl:text-6xl max-w-2xl xl:max-w-4xl !leading-tight">
          Frequently Asked Questions
        </h2>
      </div>
      <div class="col-span-3 flex flex-col divide-y divide-black">
        <FAQ
          items={[
            {
              question: 'What is the Vision of Open Federation?',
              answer:
                'We believe that GraphQL and especially Federation has a bright future ahead in the API space. Such an important Specification needs to be open and vendor-neutral. Being able to choose between different implementation and vendors is crucial for the success of Federated GraphQL. Healthy competition is good for the ecosystem and will drive innovation.',
            },
            {
              question: 'What is the Mission of Open Federation?',
              answer:
                'Open Federation aims to provide clarity in terms of how to implement Gateways and Services in a federated GraphQL architecture and to define a clear set of rules for how to implement composition checks for federated GraphQL APIs.',
            },
            {
              question: 'Is Open Federation compatible with Apollo Federation v1 and v2?',
              answer:
                'Yes, Open Federation uses exactly the same Directives and is therefore compatible with Apollo Federation v1 and v2 Subgraphs. The goal of Open Federation is to always be compatible with the latest version of Apollo Federation to make it easy for people to migrate.',
            },
            {
              question: 'Who is behind Open Federation and how can I be involved?',
              answer:
                'Open Federation is initiated by WunderGraph and The Guild. We are looking for more contributors to help us shape the future of federated GraphQL APIs. If you are interested, please join our Discord.',
            },
          ]}
          client:idle
        />
      </div>
    </section>

    <Footer />
  </main>
  <GraphParticles />
</Layout>
