---
import Logo from './Logo.astro';
---

<div
  class="flex items-center justify-between w-full sticky top-0 py-3.5 bg-white px-4 md:px-8 lg:px-12 mx-auto max-w-screen-2xl"
>
  <nav class="flex items-center justify-center gap-x-8">
    <a aria-label="Home" class="hover:underline" href="/">
      <Logo />
    </a>
    <a class="hover:underline" target="_blank" href="https://spec.open-federation.org/">Spec</a>
    <a class="hover:underline" href="#solutions">Solutions</a>
    <a class="hover:underline" href="#faq">FAQ</a>
  </nav>
</div>
