---
import Logo from './OpenFederationLogo.astro';
---

<header class="z-50 w-full sticky top-0 py-3.5 bg-white">
  <nav class="flex items-center gap-x-8 px-4 md:px-8 lg:px-12 mx-auto max-w-screen-2xl">
    <a aria-label="Home" class="hover:underline" href="/">
      <Logo />
    </a>
    <a class="hover:underline" target="_blank" href="https://spec.open-federation.org/">Spec</a>
    <a class="hover:underline" href="#solutions">Solutions</a>
    <a class="hover:underline" href="#faq">FAQ</a>
  </nav>
</header>
